force-app/main/default/flows/Quantity_on_Hand_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Subtract_QOH</name>
        <label>Subtract QOH</label>
        <locationX>609</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>Current_Food_Record.Quantity_Remaining__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DoTheMath</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>DoTheMath</name>
        <dataType>Number</dataType>
        <expression>{!Current_Food_Record.Quantity_Remaining__c}-{!ConsumedQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Quantity on Hand Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quantity on Hand Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Current_Food_Record</name>
        <label>Current Food Record</label>
        <locationX>119</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Quantity_On_Hand</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Food_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>752</locationX>
        <locationY>209</locationY>
        <inputReference>Current_Food_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Update_Quantity_On_Hand</name>
        <label>Update Quantity On Hand</label>
        <locationX>326</locationX>
        <locationY>155</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Subtract_QOH</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;Move the slider to indicate the number of {!Current_Food_Record.Name} you used.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Consumed</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <elementReference>Current_Food_Record.Servings_Per_Container__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step</name>
                <value>
                    <numberValue>0.5</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>How much did you use?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ConsumedQuantity</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Current_Food_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ConsumedQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
